{
  "processors": [["@mapbox/stylelint-processor-arbitrary-tags"]],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended",
    "stylelint-config-recommended-vue",
    "stylelint-config-css-modules"
  ],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "no-empty-first-line": null,
    "no-empty-source": null,
    "color-function-notation": "legacy",
    "media-feature-range-notation": "prefix",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-pseudo-element-colon-notation": "single"
  }
}
